

*,
::after,
::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Molengo:400');

html {font-size: 100%;} /*16px*/

:root {
/* colors */
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --grey: rgb(164, 164, 164);
    --darkgrey: rgb(20, 20, 20);
    --green: rgb(99, 159, 89);
    --dark-green: rgb(36, 159, 40);
    --red: rgb(159, 51, 51);
    --light-red: rgb(222, 113, 113);

/* Primary */
    --primary-50: #f8fafc;
    --primary-100: #f1f5f9;
    --primary-200: #e2e8f0;
    --primary-300: #cbd5e1;
    --primary-400: #94a3b8;
    --primary-500: #64748b;
    --primary-600: #475569;
    --primary-700: #334155;
    --primary-800: #1e293b;
    --primary-900: #0f172a;

/* Variables */
    --backgroundColor: var(--grey);
    --textColor: var(--darkgrey);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width:1120px;
    --fixed-width: 600px;

/* box shadow*/
--shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
--shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
--shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: var(--grey);
  font-family: 'Molengo', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--darkgrey);
}

p {margin-bottom: 1.5rem;
  max-width: 40em;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: 'Molengo', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

a{
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  width: 40vw;
  border: 5px solid var(--primary-500);
  border-radius: var(--borderRadius);
  max-width: var(--max-width);
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn{
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover{
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-block{
  width: 100%;
}
